body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #2c2748;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center; /* Align text center */
}

h3 {
    font-size: 24px;
}

p {
    font-family: 'Poppins', sans-serif;
}

.header-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: #2c2748;
    color: #fff;
    padding: 1em 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%; /* Adjust max-width as needed */
    margin: 0 auto;
    flex-wrap: wrap;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

header nav ul li {
    margin-left: 20px;
    white-space: nowrap; /* Prevent items from wrapping prematurely */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 15px; /* Adjust padding for better touch target */
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 2em;
}

section:nth-of-type(odd) {
    background: #f4f4f4;
}

section:nth-of-type(even) {
    background: #fff;
}

.ProjectTitle, .EducationTitle {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.headerName {
    font-size: 14px;
    text-align: left; /* Center align headerName */
}

.Educations, .project {
    border: 2px solid #000000;
    margin: 1em 0;
    padding: 1em;
    margin-right: 5%;
    margin-left: 5%;
}

section#Education, section#projects {
    background: #f4f4f4;
}

.aboutTitle {
    text-align: center;
    font-size: 24px;
}

.about {
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Important for smaller screens/mobile viewing. allows text to wrap to next line seamlessly. */
}

.about img {
    width: 350px;
    height: auto;
    padding: 15px; /* Adds space between the text and image. */
}

.imageLink {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.imageLink img {
    width: 50px;
    height: auto;    
    margin: 0 10px;
}

.about p {
    flex: 1;
    text-align: center;
    max-width: 600px; /* Limit the width of the text */
}

@media (max-width: 1400px) {
    .about p {
        margin-right: 10%; /* Adjust the maximum width for larger screens */
        text-align: center;
    }
    .about img {
        width: 150px;
        height: auto;
        margin: 0 10px; /* Adds space between the image and the text */
    }
}

@media (max-width: 768px) {
    .about {
        flex-direction: column; /* Stack elements vertically on small screens */
    }
    .about img, .about p {
        margin: 0; /* Remove margin for a more compact layout */
    }
    
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    padding: 1em;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input, form textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

form button {
    padding: 0.7em;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}
